<div id="viewItem">
    <h4><u>Selected Item Details</u></h4>
    <p><b>Item Name:</b> {{name}}</p>
    <p><b>Size:</b> {{size}}</p>
    <p><b>Expiry Date:</b> {{date}}</p>
    <p><b>Buy Price:</b> {{buy}}</p>
    <p><b>Sell Price:</b> {{price}}</p>
</div>
